* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/subset-GraphikLCG-Regular.eot');
    src: url('../fonts/subset-GraphikLCG-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-GraphikLCG-Regular.woff2') format('woff2'),
        url('../fonts/subset-GraphikLCG-Regular.woff') format('woff'),
        url('../fonts/subset-GraphikLCG-Regular.ttf') format('truetype'),
        url('../fonts/subset-GraphikLCG-Regular.svg#GraphikLCG-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/subset-GraphikLCG-Semibold.eot');
    src: url('../fonts/subset-GraphikLCG-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-GraphikLCG-Semibold.woff2') format('woff2'),
        url('../fonts/subset-GraphikLCG-Semibold.woff') format('woff'),
        url('../fonts/subset-GraphikLCG-Semibold.ttf') format('truetype'),
        url('../fonts/subset-GraphikLCG-Semibold.svg#GraphikLCG-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/subset-Roboto-Regular.eot');
    src: url('../fonts/subset-Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Roboto-Regular.woff2') format('woff2'),
        url('../fonts/subset-Roboto-Regular.woff') format('woff'),
        url('../fonts/subset-Roboto-Regular.ttf') format('truetype'),
        url('../fonts/subset-Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    color: #000000;
    font-family: 'Graphik LCG', sans-serif;
    font-weight: 400;
}

.header {
    padding: 24px 0px 25px 0px;
    background-color: #FFFFFF;
}

.container {
    width: 1290px;
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
    align-items: center;
}

.flexbs {
    display: flex;
    justify-content: space-between;
}

.line {
    border-style: solid;
    border-bottom-width: 1px;
    border-color: #EFEFEF;
}

.link {
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    line-height: 20px;
}

.item {
    margin-right: 57px;
}

.item:last-child {
    margin-right: 0px;
}

.item-button {
    margin-right: 10px; 
    display: flex;
}

.item-button:last-child {
    margin-right: 0px;
}

.btn-logo {
    text-decoration: none;
    font-size: 16px;
    line-height: 43px;
    color: #000000;
    padding: 0px 35px;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-weight: 600;
}

.button {
    color: #FFFFFF;
    line-height: 45px;
    padding: 0px 23px 0px 22px;
    background-color: #FF6336;
    border: none;
    margin-right: 0px;
}

.section-local {
    width: 1311px;
    background-color: #FFFFFF;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 128px;
    padding-bottom: 171px;
} 

.list-button {
    display: flex;
}

.title-local {
    font-size: 65px;
    line-height: 70px;
    margin-bottom: 51px;
    font-weight: 600;
    width: 552px;
}

.text-local {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 50px;
    width: 471px;
}

.button-local {
    line-height: 60px;
    font-size: 16px;
    padding: 0px 42px 0px 43px;  
    text-decoration: none;
}

.btn-local {
    line-height: 58px;
    padding-left: 28px;
    padding-right: 28px;
    border: 1px solid;
    margin-right: 0px;
} 

.container-buttom-local {
    margin-bottom: 25px;
}

.text-try {
    font-size: 15px;
    line-height: 25px;
}

.container-local-pic {
    padding-bottom: 10px;
    padding-top: 22px;
}

.section-compani {
    background-color: #FF9C7D;
    padding-top: 106px;
    padding-bottom: 104px;
}

.container-compani {
    width: 1290px;
    margin-left: auto;
    margin-right: auto;
}

.title-compani {  
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 70px;
    width: 720px;
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
}

.item-compani {
    display: flex;
} 

.link-compani {
    text-decoration: none;
}

.section-process {
    background-color: #FFFFFF;
    padding-top: 90px; 
    padding-bottom: 150px;
}

.container-class {
    display: flex;
    margin-bottom: 250px;
}

.container-class:last-child {
    margin-bottom: 0px;
}

.cont-right {
   margin-right: 138px;  
}

.container-process {
    padding-top: 151px;
    padding-bottom: 50px;
}

.text-process {
    font-size: 20px;
    line-height: 30px;
    width: 540;
    margin-bottom: 30px;
}

.link-process {
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    color: #000000;
    display: inline-block;
    vertical-align: top;
    font-weight: 600;
}

.title-process {
    width: 493px;
    margin-bottom: 30px;
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
}

.title-market {
    width: 379px;
}

.text-market {
    margin-bottom: 36px;
}

.title-quality {
    margin-bottom: 30px;  
}

.text-quality {
    margin-bottom: 35px;
}

.title-work {
    width: 348px;
    margin-bottom: 33px;
}

.img-process {
    display: block;
}

.text-work {
    margin-bottom: 27px;
}

.link-text {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.section-localise {
    background-color: #FFF8E4;
    padding-top: 120px;
    padding-bottom: 145px;
}

.container-localise {
    text-align: center;
}

.list-localise {
    flex-wrap: wrap;
}

.item-localise {
    width: 330px;
    margin-bottom: 74px;
}

.item-localise:nth-of-type(n+4) {
    margin-bottom: 0px;
}

.title-localise {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 26px;
    font-weight: 600;
}

.subject-localise {
    margin-bottom: 78px;
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
}

.text-localise {
    font-size: 18px;
    line-height: 25px;
}

.image-localise {
    display: block;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
}

.link-mobil {
    font-size: 18px;
    line-height: 25px;
}

.section-team {
    background-color: #FFFFFF;
    padding-top: 154px; 
    padding-bottom: 187px;
}

.list-team {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.item-team {
    width: 409px;
}

.image-team {
    display: block;
    margin-bottom: 49px;
}

.subject-team {
    margin-bottom: 75px;
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
}

.title-team {
    font-size: 30px;
    line-height: 40px;   
    margin-bottom: 34px;   
    font-weight: 600;
} 

.text-team {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 25px;
}

.link-team {
    text-decoration: underline;
    display: inline-block;
    vertical-align: top;
    font-weight: 400;
}

.section-chief {
    background-color:  #C9E8F2;
    padding-top: 53px;
    padding-bottom: 105px;
}

.cont-chief {
    padding-top: 10px;
    padding-bottom: 60px;
}

.text-chief {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 23px;
}

.text-chief-off {
    font-size: 15px;
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 7px;
}

.link-chief {
    display: inline-block;
    vertical-align: top;
    line-height: 25px;
}

/* -- section-manage--*/

.section-manage {
    background-color: #DABC98;
    padding-top: 90px;
    padding-bottom: 88px;
}

.container-manage {
    display: flex;   
}

.title-manage {
    font-size: 35px;
    line-height: 50px;
    width: 461px;
    margin-right: 124px;
    font-weight: 600;
}

.text-rated {
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
}

.cont-manage {
    border-right-width: 1px;
    border-style: solid;
}

.img-rated {
    margin-bottom: 20px;
}

.img-manage {
    margin-right: 67px;
}

.item-rated {
    margin-right: 71px;
    margin-left: 70px;
}

.list-rated {
    display: flex;
}

.img-rateds {
    margin-bottom: 15px;
}

/* -- section-icon--*/
.section-icon {
    padding-top: 165px;
    padding-bottom: 162px;
}
.container-icon {
    text-align: center;
    flex-direction:column;
}

.title-icon {
    font-size: 65px;
    line-height: 75px;
    width: 791px;
    font-weight: 600;
}

.text-icon {
    width: 539px;
    margin-bottom: 25px;
    line-height: 30px;
}

.link-icon-btm {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    font-size: 16px;
    color: #EFEFEF;
    background-color: #FF6336;
    border: none;
    padding: 0px 21px 0px 21px;
    line-height: 60px;
    font-weight: 600;
}

.imag-icon {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 32px;
}

.section-easy {
    padding-top: 119px;
    padding-bottom: 161px;
    background-color: #FF9C7D;
}

.container-easy {
    /* display: flex;  */
    text-align: center;
}

.title-easy {
    width: 784px;
    margin-bottom: 29px;
    margin-left: auto;
    margin-right: auto;
}

.text-easy {
    margin-bottom: 54px;
}

.link-easy-btm {
    background-color: #000000;
    font-size: 17px;
    padding: 0px 40px 0px 40px;
}

.section-footer {
    background-color: #EEEEEE;
    padding-top: 92px;
    padding-bottom: 95px;
    color: #000000;
    border-style: solid;
    border-bottom-width: 1px;
}

.container-footer {
    display: flex;   
}

.title-case {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 28px;
    font-weight: 600;
}

.image-case {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 31px;
}

.pic-case {
    display: inline-block;
    vertical-align: top;
}

.link-case-img {
    margin-bottom: 11px;
    display: inline-block;
    vertical-align: top;
}

.text-case {
    margin-bottom: 15px;
}

.cont-case {
    width: 300px;
    margin-right: 140px;
}

.title-footer {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 21px;
    font-weight: 600;
}

.link-footer {
    font-size: 15px;
    line-height: 15px;
    text-decoration: none;
    color: #000000;
    white-space: nowrap;
}

.item-footer {
    margin-bottom: 15px;
}

.item-footer:last-child {
    margin-bottom: 0px;
}

.cont-footer {
   margin-right: 109px;
}

.cont-footer:last-child {
    margin-right: 0px;
} 
.item-footer {
    display: flex;
}

.section-footer-last {
    background-color: #EEEEEE;
    padding-top: 52px;
    padding-bottom: 43px;
}

.text-footer-last {
    font-size: 12px;
    line-height: 15px;
}

.img-footer-last {
/* display: inline-block; */
    /* vertical-align: top; */
    line-height: 21px;
}

.cont-footer-lasts {
    display: flex;
}

.foot-text {
    width: 301px;
}

.link-footer-last {
    display: inline-block;
    vertical-align: top;
    margin-right: 14px;
}
