* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/subset-GraphikLCG-Regular.eot');
    src: url('../fonts/subset-GraphikLCG-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-GraphikLCG-Regular.woff2') format('woff2'),
        url('../fonts/subset-GraphikLCG-Regular.woff') format('woff'),
        url('../fonts/subset-GraphikLCG-Regular.ttf') format('truetype'),
        url('../fonts/subset-GraphikLCG-Regular.svg#GraphikLCG-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/subset-GraphikLCG-Semibold.eot');
    src: url('../fonts/subset-GraphikLCG-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-GraphikLCG-Semibold.woff2') format('woff2'),
        url('../fonts/subset-GraphikLCG-Semibold.woff') format('woff'),
        url('../fonts/subset-GraphikLCG-Semibold.ttf') format('truetype'),
        url('../fonts/subset-GraphikLCG-Semibold.svg#GraphikLCG-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/subset-Roboto-Regular.eot');
    src: url('../fonts/subset-Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Roboto-Regular.woff2') format('woff2'),
        url('../fonts/subset-Roboto-Regular.woff') format('woff'),
        url('../fonts/subset-Roboto-Regular.ttf') format('truetype'),
        url('../fonts/subset-Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    color: #000000;
    font-family: 'Graphik LCG', sans-serif;
    font-weight: 400;
}

.header {
    padding-top: 24px;
    padding-bottom:  25px;
    background-color: #FFFFFF;
    border-style: solid;
    border-bottom-width: 1px;
    border-color: #EFEFEF;

}

.container {
    max-width: 1310px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.container-header.container {
    display: flex;
    justify-content: space-between;  
}

.link {
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    line-height: 20px;
}

.link-img {
    margin-right: 51px;
}

.contteiner-link-img {
    display: flex;
    align-items: center;
   
}

.list {
    display: flex;
    align-items: center;
}

.item {
    margin-right: 57px;
}

.item:last-child {
    margin-right: 0px;
}

.container-button {
    display: flex;
}

.button-logo {
    text-decoration: none;
    font-size: 16px;
    line-height: 43px;
    color: #000000;
    padding: 0px 35px;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-weight: 600;
    margin-right: 10px;
}

.button-logo:hover {
    background-color: black;
    color: white;
}

.button {
    color: #FFFFFF;
    line-height: 45px;
    padding: 0px 23px 0px 22px;
    background-color: #FF6336;
    border: none;
    margin-right: 0px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.button:hover {
    background-color: #FFFFFF;
    color: #FF6336;
}

.section-local {
    background-color: #FFFFFF;
    padding-top: 131px;
    padding-bottom: 172px;
} 

.cont-local.container {
    display: flex;
}

.title-local {
    font-size: 65px;
    line-height: 70px;
    margin-bottom: 52px;
    font-weight: 600;
    width: 552px;
}

.text-local {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 52px;
    width: 471px;
}

.container-buttom-local.container-button {
    margin-bottom: 26px;
}

.button-local.button {
    line-height: 60px;
    font-size: 16px;
    padding: 0px 42px 0px 43px;  
    margin-right: 10px;
}

.btn-local.button-logo {
    line-height: 58px;
    padding-left: 28px;
    padding-right: 28px;
    border: 1px solid;
    margin-right: 0px;
} 

.text-try {
    font-size: 15px;
    line-height: 25px;
}

.container-local-pic {
    padding-bottom: 10px;
    padding-top: 22px;
}

.img-local-pic {
    width: 738px;
}

.section-compani {
    background-color: #FF9C7D;
    padding-top: 106px;
    padding-bottom: 104px;
}

.title-compani {  
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 69px;
    width: 720px;
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
} 

.container-link-compani {
    width: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    
}

.cont-link-compani {
    display: flex;
}

.container-link-compani:last-child {
    margin-right: 0px;
} 

.link-compani {
    text-decoration: none;
}


.section-process {
    background-color: #FFFFFF;
    padding-top: 90px; 
    padding-bottom: 150px;
}

.container-class {
    display: flex;
    margin-bottom: 250px;
}

.container-class:last-child {
    margin-bottom: 0px;
}

.cont-right {
  margin-right: 138px;  
}

.container-process {
    padding-top: 100px;
    padding-bottom: 20px;
    width: 520px;
}

.text-process {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
}

.link-process {
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    color: #000000;
    display: inline-block;
    vertical-align: top;
    font-weight: 600;
}

.title-process {
    margin-bottom: 30px;
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
}

.link-text {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.section-localise {
    background-color: #FFF8E4;
    padding-top: 120px;
    padding-bottom: 146px;
}

.container-localise {
    text-align: center;
}

.list-localise {
    flex-wrap: wrap;
    display: flex;
}

.item-localise {
    width: 330px;
    margin-bottom: 75px;
    margin-right: 50px;
    margin-left: 50px;
}

.item-localise:nth-of-type(n+4) {
    margin-bottom: 0px;
}

.title-localise {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 26px;
    font-weight: 600;
}

.subject-localise {
    margin-bottom: 79px;
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
}

.text-localise {
    font-size: 18px;
    line-height: 25px;
}

.image-localise {
    display: block;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
}

.link-mobil {
    font-size: 18px;
    line-height: 25px;
}

.section-team {
    background-color: #FFFFFF;
    padding-top: 154px; 
    padding-bottom: 187px;
}

.list-team {
    display: flex;
    align-items: baseline;
}

.item-team {
    width: 409px;
    margin-right: 31px;
}

.item-team:last-child {
    margin-right: 0px;
}

.image-team {
    display: block;
    margin-bottom: 50px;
}

.subject-team {
    margin-bottom: 75px;
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
}

.title-team {
    font-size: 30px;
    line-height: 40px;   
    margin-bottom: 34px;   
    font-weight: 600;
} 

.text-team {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 25px;
}

.link-team {
    text-decoration: underline;
    display: inline-block;
    vertical-align: top;
    font-weight: 400;
}

.section-chief {
    background-color:  #C9E8F2;
    padding-top: 53px;
    padding-bottom: 105px;
}

.container-chief {
    display: flex;
}

.cont-chief {
    padding-top: 10px;
    padding-bottom: 58px;
    margin-right: 85px;
}

.text-chief {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 23px;
}

.text-chief-off {
    font-size: 15px;
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 7px;
}

.link-chief {
    display: inline-block;
    vertical-align: top;
    line-height: 25px;
}

.link-imgs-chief {
    display: block;
}

.section-manage {
    background-color: #DABC98;
    padding-top: 80px;
    padding-bottom: 85px;
}

.container-manage {
    display: flex;   
}

.title-manage {
    font-size: 35px;
    line-height: 50px;
    margin-right: 124px;
    font-weight: 600;
    padding-top: 37px;
    padding-bottom: 31px;
}

.text-rated {
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
}

.cont-manage {
    border-right-width: 1px;
    border-style: solid;
    display: flex;
}

.cont-rated {
    padding-top: 20px;
    padding-bottom: 19px;
}

.img-rated {
    margin-bottom: 20px;
}

.img-manage {
    margin-right: 67px;
}

.item-rated {
    margin-right: 71px;
    margin-left: 70px;
}

.list-rated {
    display: flex;
}

.img-rateds {
    margin-bottom: 15px;
}

.section-icon {
    padding-top: 165px;
    padding-bottom: 162px;
}

.container-icon.container {
    text-align: center;
    flex-direction:column;
    display: flex;
    align-items: center;
}

.title-icon {
    font-size: 65px;
    line-height: 75px;
    width: 791px;
    font-weight: 600;
}

.text-icon {
    width: 539px;
    margin-bottom: 25px;
    line-height: 30px;
}

.button-icon.button {
    padding: 0px 21px 0px 21px;
    line-height: 60px;
   
}

.button-icon:hover {
    background-color: violet;
    color: red;
}

.imag-icon {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 32px;
}

.section-easy {
    padding-top: 119px;
    padding-bottom: 161px;
    background-color: #FF9C7D;
}

.container-easy {
    text-align: center;
}

.title-easy {
    width: 784px;
    margin-bottom: 29px;
    margin-left: auto;
    margin-right: auto;
}

.text-easy {
    margin-bottom: 54px;
}

.button-easy.button {
    display: inline-block;
    vertical-align: top;
    background-color: #000000;
    font-size: 17px;
    padding: 0px 40px 0px 40px;
    line-height: 60px;
}

.section-footer {
    background-color: #EEEEEE;
    padding-top: 91px;
    padding-bottom: 93px;
    color: #000000;
    border-style: solid;
    border-bottom-width: 1px;
}

.container-footer {
    display: flex;   
}

.title-case {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 28px;
    font-weight: 600;
}

.image-case {
    display: block;
    margin-bottom: 31px;
}

.link-case-img {
    margin-bottom: 11px;
    display: inline-block;
    vertical-align: top;
}

.text-case {
    margin-bottom: 15px;
}

.cont-case {
    width: 300px;
    margin-right: 140px;
}

.title-footer {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 21px;
    font-weight: 600;
}

.link-footer {
    font-size: 15px;
    line-height: 15px;
    text-decoration: none;
    color: #000000;
}

.item-footer {
    margin-bottom: 15px;
    display: flex;
}

.item-footer:last-child {
    margin-bottom: 0px;
}

.cont-footer-all {
    width: 850px;
    display: flex;
    padding-top: 5px;
}

.cont-footer {
    width: 20%;
    margin-right: 6%;
}

.cont-footer:last-child {
    margin-right: 0%;
} 

.section-footer-last {
    background-color: #EEEEEE;
    padding-top: 52px;
    padding-bottom: 43px;
}

.container-footer-last.cntainer {
    display: flex;
    align-items: center;
}

.text-footer-last {
    font-size: 12px;
    line-height: 15px;
}

.img-footer-last {
    line-height: 21px;
}

.cont-footer-lasts {
    display: flex;
}

.foot-text {
    width: 301px;
}

.link-footer-last {
    margin-right: 14px;
}

@media (max-width:1289px) {

    .container-header.container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .item {
        margin-right: 30px;
    }

    .link-img  {
        margin-right: auto;
    }

    .contteiner-link-img {
        width: 100%;
        margin-bottom: 15px;
    }
    
    .section-local {
        padding-top:  50px;
        padding-bottom: 50px;
    }

    .cont-local.container {
        flex-direction: column;
        width: auto;
        align-items: center;
    }
    .container-local-pic {
        order: -1;
        margin-bottom: 30px;
        display: flex;
    }

    .container-local {
        display: flex;
        flex-direction: column; 
        align-items: center;
        text-align: center;
    }

    .section-process {
        padding-top: 50px;
    }

    .cont-class.container {
       margin-bottom: 50px;
    }
    .container-class {
        flex-direction: column;
        width: auto;
        align-items: center;
    }
    .container-imag-process {
        order: 1;
        display: flex;
    }

    .container-process {
        display: flex;
        flex-direction: column; 
        align-items: center;
        text-align: center;
    }

    .cont-right {
        margin-right: 0px;
    }
    

   


   

}

@media (max-width:767px) {
    .contteiner-link-img { 
        align-items: center;
        flex-direction: column;
    }

    .list {
        flex-direction: column;
    }
    
    .link-img {
        margin-right: 0px;
        margin-left: 0px;
    }

    .item {
        margin-right: 0px;
    }

    .container-button {
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        text-align: center;
    }

    .button-logo {
        margin-right: 0px;
    }

    .section-local {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .img-local-pic {
        width: 100%;
    }

    .title-local {
        width: 100%;
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 20px;
    }

    .text-local {
        width: 100%;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 20px;
    }

    .button-local.button {
        margin-right: 0px;
    }
    
    .text-try {
        font-size: 7px;
        line-height: 9px;
    }
}